<h1 class="animated fadeIn fast">Sobre comic app</h1>
<hr>
<p class="fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aspernatur dicta alias. Ut ex architecto reiciendis eum illo ab cumque sed, et quisquam blanditiis eaque id. Ullam aperiam sapiente error. Alias neque, inventore ea placeat laborum beatae
    consequuntur itaque natus iste repudiandae dignissimos fuga minima aliquid necessitatibus veritatis voluptatum explicabo ipsum? A, optio? Corporis qui culpa sed non nostrum similique. Repellendus natus autem quas. At esse soluta quis laboriosam hic
    alias autem, recusandae quisquam in eveniet minima ipsum voluptatibus delectus quae! Voluptates dolore officiis facere maxime temporibus fugit sit unde?
</p>